/* 共通レイアウト ================================ */
body {
  padding-top: 70px;
  color: #364a4d;
  width: 1200px;
}

/* フォント
================================ */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  /*margin-bottom: 30px;*/
  /*font-weight: normal;*/
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* ヘッダー ================================ */
.navbar {
  height: 65px;
  width: 100%;
  background-color: rgba(100,254,10,.5);
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  margin-bottom: 20px;
}

#logo {
  float: left;
  font-size: 1.7em;
  padding-top: 12px;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo a {
  color: #fff;
}

#logo a:hover {
  color: #fff;
  text-decoration: none;
}

.header-right {
  float: right;
  margin: 0 auto;
}

.header-right a {
  color: white;
  display: block;
  text-decoration: none;
}

.header-right li {
  line-height: 65px;
  padding: 0 18px;
  float: left;
  color: white;
}

.vertical-line {
  height: 22px;
  margin-top: 22px;
  margin-right: -36px;
  border-left: 1px solid rgba(255, 255, 255, 0.8);
}

.link-bg {
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.link-bg:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* フッター ================================ */
footer {
  margin-top: 100px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #848484;
}

footer small {
  float: left;
}